
/* inicio */
body{background-color:white;

}

#div1{
    background-color:  #0077b6;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 160;
    font-size: 18px;
    margin-top: +10px;
    
}

#ul1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin-top: -130px;
    margin-left: +100px;
    gap: 25px;
    padding: 20px;
    text-transform: uppercase;
    max-width: 1300px;
}

#ul2{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin-top: -80px;
    margin-left: +100px;
    gap: 25px;
    padding: 20px;
    text-transform: uppercase;
    flex-direction: row;
    max-width: 1200px;
     
   
}

#img1{
    height: 100px;
    width: 100px;

}
#div2{
    
display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin-top: 3px;
    margin-left: 0px;
    gap: 25px;
    padding: 20px;
    text-transform: uppercase;
    flex-direction: row;
    max-width: 2000px;
     background-color:  #0077b6
     
}
#h11{
    text-align: center;
    font: size 100px;
    font-weight: 1000;
    text-shadow: 2px 2px 5px black;
}
#text{
     font-size: 150%;    
       font-weight: 160;
     font-family: 'Times New Roman', Times, serif;
       align-items: center;
       margin-top: -10;
    
}
a {
  color:white;
  text-decoration: none; /* remove sublinhado */
  font-weight: bold;
}

a:hover {
  color: red; /* muda cor ao passar o rato */
}

.footer1{
  display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin-top: -150px;
    margin-left: +100px;
    gap: 25px;
    padding: 30px;
    text-transform: uppercase;
    max-width: 1300px;
    margin-bottom: 4px;
    background-color: rgb(from color r g b);
}
.footer1 h3{
  align-items: center;
   margin-top: 130px;
    margin-left: +100px;
}


.footer-bottom{
  display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin-top: -20px;
    margin-left: +100px;
    gap: 25px;
    padding: 10px;
    text-transform: uppercase;
    max-width: 1300px;
}


.social-icons ul{
    list-style-type: none;
    align-items:center;
     align-items: center;
     margin-top: 130px;
    margin-left: -550px;
    gap: 25px;
    padding: 5px;
    text-transform: uppercase;
    max-width: 1300px;
    display:flex;
    flex-wrap: wrap;
    
}


/*Noticias*/
#div1noticias{
  background-color: rgb(17, 179, 233);
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 160;
    font-size: 18px;
    margin-top: +10px;
    border-radius: 10px;

}

.noticias-wrapper-1 {
  display: flex;
  width: 100%;
}

.noticia-destaque {
  width: 60%;
  padding-top: 20%;
  background-color: #222;
  border: 2px solid white;
  position: relative;
}

.noticia-destaque-single {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('image/boane.png') !important;
transition: background-color 0.3s, transform 0.2s;
     cursor: pointer;
      pointer-events: auto;      /* garantir que recebe cliques */
}
.noticia-destaque-single h3{
    padding: 10px;
    color: white; /* Assumindo 'white' para o quadrado de cor */
    width: 98%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo preto semi-transparente */
}
  

.outra-noticia-1-single h3 {
    padding: 10px;
    color: white; /* Assumindo 'white' para o quadrado de cor */
    width: 96%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo preto semi-transparente */
}
.outras-noticias-1 {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
}

.outra-noticia-1-single {
 
    width: 100%;
    padding-top: 30%;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    background-color: #222;
    position: relative;
    background-image: url(image/fundo1.jpg);
    transition: background-color 0.3s, transform 0.2s;
     cursor: pointer;
      pointer-events: auto;      /* garantir que recebe cliques */
}

.outra-noticia-1-single h3 {
    padding: 10px;
    color: white;
}

/*sobre nos*/

#ul3{
  display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin-top: -80px;
    margin-left: +100px;
    gap: 25px;
    padding: 20px;
    text-transform: uppercase;
    flex-direction: row;
    max-width: 1200px;
    font-size: 10px;
}
.dropbtn {
  display: inline-block;
  color:white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}
.dropbtn:hover,.dropdown:hover
.dropdown{
  display: inline-block;
}
.dropdown-content {
  display: none;
    position: absolute;
    background: rgb(93, 145, 235); /* O quadrado branco na imagem indica a cor de fundo */
    width: 380px;
    margin-bottom: -40px;
}

.dropdown-content a {
    color: black; /* O quadrado preto na imagem indica a cor do texto */
    display: block;
    text-align: center;
    border: 3px solid;
}

.dropdown-content a:hover {
    color: red; /* Cor do texto fica branca ao passar o mouse */
}

.dropdown:hover .dropdown-content {
    display: block; /* Torna o conteúdo do dropdown visível ao passar o mouse sobre o elemento pai (.dropdown) */
}

/*mensagem do dg*/
.mensagem-wrapper-1 {
  display: flex;
  width: 100%;
  
}
.mensagem-destaque {
  width: 30%;
  padding-top: 20%;
  background-color: #222;
  border: 2px solid white;
  position: relative;
  
}
.mensagem-destaque-single {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('image/director-geral.jpg') !important;

     cursor: pointer;
      pointer-events: auto;      /* garantir que recebe cliques */
}
.mensagem-1{
  margin-bottom: 20px;
}

.mensagem-1{
 margin-right: 10px; 
 margin-left: 100px;
 width: 2000px;
 height: 2000px;
}
.outra-mensagem-1-single {
 height: 150;
    width: 100%;
    padding-top: -30%;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    background-color: #222;
    position: relative;
    background-color: white;
    transition: background-color 0.3s, transform 0.2s;
     cursor: pointer;
      pointer-events: auto;      /* garantir que recebe cliques */
    text-align: justify;
    
}

.outra-mensagem-1-single h3 {
text-align: center;
}
#mensagemdg{
  margin-top: 20px;
  margin-bottom: -1000;
}

  
.texto1{
margin-top: -1590px;
font-family: 'Times New Roman', Times, serif;
font-size: 20;
text-align: justify;
}
.footer-bottom1{
  margin-bottom: 2010;
  text-align: center;
}

/*sobre fipag*/
.footer-bottom2{
  margin-bottom: 2010;
  text-align: center;
}
#ul31{
  display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin-top: -100px;
    margin-left: +100px;
    gap: 25px;
    padding: 20px;
    text-transform: uppercase;
    flex-direction: row;
    max-width: 1200px;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
   
}

.footer-bottom3{
  margin-bottom: 2010;
  text-align: center;
}
.texto2{
  margin-top: 5px;
font-family: 'Times New Roman', Times, serif;
font-size: 20;
text-align: justify;
border: 2px solid rgb(95, 68, 202);
width: 1500px;
padding: 3px;
}

.texto2 h1{
  font-size: 16;
  text-align: center;
   margin-top: 20px;
   text-shadow: 2px 2px 5px black;
}

.texto3{
  margin-top: 5px;
font-family: 'Times New Roman', Times, serif;
font-size: 30;
text-align: justify;
border: 2px solid rgb(95, 68, 202);
width: 1500px;
padding: 4px;

}
.texto3 li{
  margin-left: 50px;
}
.texto3 h1{
  font-size: 16;
  text-align: center;
   margin-top: 20px;
   text-shadow: 2px 2px 5px black;
}
.texto4{
  margin-top: 5px;
font-family: 'Times New Roman', Times, serif;
font-size: 30;
text-align: justify;

padding: 3px;
align-items: center;
 margin-left: 400px;
width: 1000px;
}
.texto4 h1{
  font-size: 20px;
  text-align: center;
   margin-top: 20px;
   text-shadow: 2px 2px 5px black;
   align-items: center;
   margin-left: -400px;

}
.social-icons a{
  color: blue;
}
